#footer {
    width: 100%;
    height: 100%;
    background-color: $white-2;

    .footer-container {
        padding: 32px 0;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 12px;

        @include mobile {
            flex-direction: column;
        }

        &-content {
            width: 30%;
            flex-grow: 1;
            padding: 12px;
            line-height: 1.5;

            @include mobile {
                width: 100%;
            }

            .content-box {
                .box-text h3 {
                    margin-top: 20px;
                    text-transform: uppercase;
                    color: $blue-2;
                }

                .box-service {
                    ul li {
                        list-style: disc;
                    }
                }
            }
        }
    }
}
