// COLOR
// Primary
$black: #101732;
$white-1: #ffffff;
$white-2: #fefeef;
$white-3: #f0f0e1;
$blue-1: #1040c5;
$blue-2: #085d90;
$blue-3: #043f64;
$gray-1: #b8acaa;
$gray-2: #d9cbc9;
$green-1: #adf0d4;
// Font-size
